  @import url('https://fonts.googleapis.com/css2?family=Coiny&family=Sono&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #292524;
    color: #fafaf9;
    font-family: "Sono",sans-serif;
    box-sizing: border-box;
    padding: 40px;

}
.container{
    max-width: 1500px ;
    margin: 0 auto;
    
}
/* Header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header img{
    margin-top: 1vh;
}
.head{
    display: flex;
    gap: 16px;
}
  h1{
    font-size: 5vh;
    text-transform: uppercase;
    font-family: 'Coiny', sans-serif;
    margin-bottom: 2vh;
    padding: 16px;
}
.choicefrom{
    background-color:#44403c;
    margin-bottom: 3vh;
    padding: 16px;
}
/* MAin */
.main{
    display: grid;
    grid-template-columns: 250px auto;
    gap: 50px;
}
.list{
    font-size: 19px;
    line-height: 1.4;
    background-color: #44403c;
    margin-bottom: 3vh;
    padding: 16px;
    display: flex;    
    align-items: center; 
    gap: 3vw;
}
.reaction-btn{
    margin-left: auto;
}
.ptag{
    text-transform: uppercase;
    font-size: 2.25vh;
    font-family: 'Coiny';
    padding: 5px 5px 3px 5px;
}
.sourcelink:link,
.sourcelink:visited{
    color:#a8a29e;
    text-decoration: none;
    transition:0.3s;

}
.sourcelink:hover,
.sourcelink:active{
    color: #3b82f6;
}

ul{
    list-style: none;
}